[2020-06-11 15:02] jonathan-s opened #6 "404 when following the homepage link on pypi."

[2020-06-11 19:31] EmilStenstrom commented on #6
Ah, I had put a "_" where there should be a "-". Thanks!

[2020-06-11 19:31] #6 closed

[2020-07-01 13:56] PhakkyoC opened #7 "templatetags folder is missing when installed by pip"
Hi,

I tried to use this package but i noticed that the folder templatetags is missing because i don't have component_tags.

I use python 3.8.3 and pip 20.1.1 with django 3.0.7

I have to manualy download the missing file to use components.

[2020-07-01 13:59] EmilStenstrom commented on #7
@PhakkyoC Could you show the error-message you get? Did you install via pip?

[2020-07-01 14:39] PhakkyoC commented on #7
@EmilStenstrom Yes i use pip to instlall it with "pip install django_reusable_components" but i don't have any error while installing.
I noticed the file component_tags.py is missing. So i tried to uninstall/install many times but it's still missing.

The errors i encoutered was because i don't have the file component_tags.py while starting my server or trying to load my templates

[2020-07-01 19:32] EmilStenstrom commented on #7
Thanks for reporting, I'll look into it.

setup.py is set to include the whole django_components directory when installing, including all subdirectories, so this is strange.

Would you mind posting your exact error, so I can quickly reproduce it?

[2020-07-02 07:13] PhakkyoC commented on #7
I'll try to show you what i did to get errors

![install](https://user-images.githubusercontent.com/38459574/86327350-716cae00-bc43-11ea-999d-e826cd318c65.png)

So i don't have any errors when installing but when i try to add builtins like the exemple :

![buildin](https://user-images.githubusercontent.com/38459574/86327466-b09aff00-bc43-11ea-931a-7598d2830f9a.png)

and when i use manage.py runser

[2020-07-03 06:29] EmilStenstrom commented on #7
This was indeed a packaging issue. Seems just specifying "django_components" does not include subdirectories, which means I ended up with a package without the templatetags directory, just like you said.

I've now fixed this (using setuptools.find_packages instead of specifying the package name) and released version 0.3 to pypi. Would you mind checking it out and let me know if you find any issues

[2020-07-03 06:29] #7 closed

[2020-07-08 11:58] BradleyKirton opened #9 "Feature request"
Hi @EmilStenstrom, thank you for the cool library.

I have a feature request which I would be happy to implement and make a PR for.

You have a template tag for loading the component js and css `component_dependencies_tag`. This would more than likely be included in the head of the document. Since the script tags generated by the Media render function are currently not deferred I would like to be

[2020-07-08 16:49] EmilStenstrom commented on #9
Sounds like a great addition, makes sense to load the us in the footer.

One alternative would be to use the same tag, but with a variable: only_js=true, only_css=true. That would decrease the API area a bit, but I’m not sure I like it better.

If these tags are added, I’m wondering if we should remove the other way? Kinda makes sense since you can get the other effect by putting both tags in head

[2020-07-09 04:58] BradleyKirton commented on #9
Hi @EmilStenstrom, my preference would be to have three tags.

If we remove the existing one there will be some backwards incompatibility for any existing users so I don't think we should do that. Let me make a PR with a proposal :)

[2020-07-11 19:18] #9 closed

[2020-09-23 21:21] Jordanadopo opened #11 "component not registered !"
Hi! In my template index.html, i tried to call my component named "login" and it's wrong with that error.
I want to get a tutorial containing configuration in a whole django folders. Thanks for your answer in advance!

[2020-09-27 16:38] EmilStenstrom commented on #11
@Jordanadopo Could you post your configuration according to the README?

[2020-10-14 16:48] Buroni opened #12 "`{% csrf_token %}` not available inside component HTML"
Firstly thanks for creating this useful library.

I've noticed that `{% csrf_token %}` isn't rendered when used inside component template HTML. Other default Django template tags seem to work, so I'm guessing this is because the component HTML doesn't have access to Django's `RequestContext`.

A work-around is to just pass down the `{% csrf_token %}` inside a `slot` from the parent component, howe

[2020-10-14 18:20] EmilStenstrom commented on #12
Excellent question, this is something I have totally missed. I'll have a look and see if I can find a way to propagate the requestcontext down into a component, I think that is what people would expect.

I have lots of other things going on, but I'll see if I can find some time during the weekend. A PR would be appreciated though :)

[2020-10-15 09:41] Buroni commented on #12
Thanks @EmilStenstrom I'll try to dig into the library a bit at the end of the week.

[2020-12-01 22:54] jonathan-s opened #14 "Out of curiosity - Performance"
There is a similar library for rails -> https://viewcomponent.org/ (https://github.com/github/view_component) Apparently that library is 10x faster in rendering than partials, which is the equivalent of django's include.

Do you have any idea what the performance characteristics are for this library?

[2020-12-02 14:17] EmilStenstrom commented on #14
@jonathan-s That is a great question. I haven't don't any benchmarking, but I would expect similar performance metrics as using a normal include. This would be easy to test I think. If you have a template that includes something in a loop, maybe several steps deep, and then at the bottom level, you put an include and a {% component %} call, and compare the loading time in a structured way.

The mo

[2020-12-08 16:26] rbeard0330 opened #15 "Allow single quoting of component names"
If you write a component tag like: `{% component_block 'my_list' %}`, you currently get a `NotRegistered` Error for the component 'my_list' (not my_list unquoted).  I believe the correct (and intended) behavior is that the template tag should strip both single quotes and double quotes before doing the lookup.

The line in `do_component` is
[code]
which I think should be:
[code]

[2020-12-08 22:52] #15 closed

[2020-12-08 22:54] EmilStenstrom commented on #15
Thanks for reporting this little annoyance, I just released 0.4.2 which fixes this problem.

[2020-12-08 22:56] EmilStenstrom commented on #12
I have looked at this for a couple of hours with no luck. The problem is that I can't manage to get a good testcase going. There are sooo many moving parts involved with csrf, and most current tests are at the unit test level. If you have the time and know how to create a failing test for csrf_token, please help me out!

[2020-12-13 22:39] rbeard0330 opened #16 "Handling missing context_variables in slotted templates and passing kwargs in {% component_block %}"
Sorry for putting both of these in one issue, but they're both so minor it seemed excessive to open separate issues:

1.  In slotted components, trying to include a variable that isn't available in the context raises an exception.  The reason seems to be that the render path for slotted components uses `nodelist.render()`, which automatically binds the template, rather than `template.render()`, wh

[2020-12-13 22:48] EmilStenstrom commented on #16
Great finds! I'll add some comments to the PR, but looks really good! Thanks for helping me make django-components better!

[2020-12-14 17:48] EmilStenstrom commented on #16
Just released 0.4.3 with your fixes!

[2020-12-14 17:48] #16 closed

[2020-12-16 15:33] dongfengweixiao commented on #11
I have same question! @EmilStenstrom can you provide ONE FULL RUNNABLE DJANGO PROJECT for research.THX.

[2020-12-16 15:39] EmilStenstrom commented on #11
@dongfengweixiao If you post a simple example site as a new repo, and try to make it work, I can have a look and see if I can get it to work! Would that be OK?

[2020-12-17 14:55] dongfengweixiao commented on #11
Forgive me for my poor English, examples in the following link：https://github.com/dongfengweixiao/django_components_example, thx for your help.

[2020-12-20 03:49] dongfengweixiao commented on #11
THX U,now i found erron and fix it.

[2020-12-28 09:46] EmilStenstrom commented on #12
@Buroni I just released django-reusable-components 0.5 to pypi, in which @rbeard0330 reworked context handling. Would you mind trying to call csrf_token inside a component again to see of things work now?

[2021-01-24 17:41] #12 closed

[2021-01-24 17:41] #11 closed

[2021-02-03 12:23] danjac opened #23 "Zero documentation on location of component modules"
In the README:

"We create a Component by inheriting from the Component class and specifying the context method. We also register the global component registry so that we easily can render it anywhere in our templates."

However there is no documentation on how the components are discovered: for example templatetags in Django are automatically loaded for all registered app, or explicitly added in

[2021-02-03 12:55] danjac commented on #23
EDIT: the only way I could get this to work was by including the components in an existing template tags module. Not sure if that's the "right" way but again, no documentation available.

[2021-02-03 21:45] EmilStenstrom commented on #23
@danjac That's a great point. I've always just added an import to my __init__.py for that app, and thinking about it, I think it's a great point to add a default app location like components.py that automatically gets discovered. I did not know about autodiscover_modules.

PR appreciated that adds support for this! :)

[2021-02-03 23:10] danjac commented on #23
Sure: was thinking about automatically looking for a components module under each app (just like admin.py) and maybe a setting for "global" components - things like buttons etc that aren't app-specific: perhaps something like:

[code]

[2021-02-04 00:48] danjac commented on #23
https://github.com/EmilStenstrom/django-components/pull/24/files

[2021-02-05 23:02] #23 closed

[2021-02-05 23:03] EmilStenstrom commented on #23
Thanks for fixing this in the best of ways, via a PR! :)

[2021-02-05 23:04] EmilStenstrom commented on #11
@dongfengweixiao @Jordanadopo The latest version of django_components now auto-detects components when they are specified in a components.py file inside your installed apps. Please try again and let me know how it works.

[2021-02-09 13:20] danjac opened #26 ""context" is empty in template method"
So I have this component:

[code]

The template name is assigned dynamically depending on the name of the SVG:

{% component "svg" name="download" %}

However the template() method raises a KeyError, as the key "name" is not in the context: it's empty.

What is the order of execution here? Is template() called before context() ? If so, how do I access variables to be able to set the template name

[2021-02-09 13:27] danjac commented on #26
Looks like there's some optimization happening here in component.py:

        component_template = get_template(self.template({}))

So basically the "context" argument is pointless as it's *always* going to be {}, and is misleading as it gives the impression that the template context is available at rendering time.

If that's the intention, it kind of makes having "template" a method pointless as

[2021-02-09 20:04] EmilStenstrom commented on #26
@rbeard0330 Is this related to your latest optimization?

[2021-02-09 20:06] EmilStenstrom commented on #26
@danjac This is a bug. The component you've written should work as you intended it too. It's actually a good example to add a test for. I have a lot on my plate right now, but give me a couple of days and I'll have a look.

[2021-02-09 20:50] rbeard0330 commented on #26
Yes, definitely.  I think I mentioned in the PR that the change was breaking for this kind of use--fundamentally, you can't compile the component when the rest of the template is compiled if the identity of the component template changes each time the template is rendered, and you'll need to compile it fresh every render.  A couple thoughts:

* The native `{% include %}` tag can cover a lot of pot

[2021-02-09 21:40] danjac commented on #26
Native "include" probably covers the use-case best here I think, and I wouldn't want to add complexity or performance regressions for this use case.

It would probably be a good idea to remove the "context" arg for template if it doesn't really do anything, or at least make it optional for backward compatibility.

[2021-02-10 08:41] EmilStenstrom commented on #26
I wonder if the best way could be to look for a template method, and if that exists skip the pre-compilation? Shouldn't that give us the best of both worlds?

[2021-02-10 10:57] danjac commented on #26
@EmilStenstrom sure, but the documentation should be clear about the performance hit (if it's significant).

[2021-02-10 11:09] EmilStenstrom commented on #26
If we should talk about a performance hit or not I think depends on what we compare to. If we're still faster than include, then a better way to describe it is "added optimization" if using a static template. One way to measure this could be to a benchmark comparing this to an included template with a dynamic template, just to see what we're comparing it to. This is also what #14 asks for. When @r

[2021-02-10 17:10] rbeard0330 commented on #26
This would require adding a different interface for specifying a static template (and I agree that a `template_name` variable would be the way to do it), and then people would need to rewrite their components to use it.  We should bench it to be sure, but I think it will also perform worse than a dynamic `include`.  The reason is that Django caches templates, so it should only have to compile each

[2021-02-10 21:41] EmilStenstrom commented on #26
@rbeard0330 Caching sounds ideal now that you mention it. I guess we could even "prime" the cache with an empty context, to get speedup even at the first request for static templates, at the expense of some wasted caching in case the template actually is dynamic.

[2021-02-11 01:29] rbeard0330 commented on #26
I worked on this a bit this evening.  It's pretty easy to do with `lru_cache`, but that's not supported in Python 2.

[2021-02-11 09:37] danjac commented on #26
Why is there a need to support Python 2?

[2021-02-11 12:24] EmilStenstrom commented on #26
In 2015, when I started this projekt, Python 2 was still supported by Django. If it makes things tricky now, we can definitely drop it. Let's do it in a separate PR though.

[2021-02-11 13:49] danjac commented on #26
Didn't realize the project was 5 years old :-)

Might be worth first dropping Python 2 support first so you can use lru_cache and other Python 3 improvements. Django itself no longer supports Python 2.

[2021-02-12 20:12] EmilStenstrom commented on #26
I just dropped support for all Python and Django versions not officially supported my Django itself. This means we're now Python 3.6+ and Django 2.2+. Hope this makes things easier to hack on going forward :)

[2021-02-15 20:27] EmilStenstrom commented on #26
@danjac I just released version 0.9 of the django-reusable-components package. Please try your code again and let us know how it works!

[2021-02-20 09:05] EmilStenstrom commented on #26
I just added a [test for the dynamic template case](https://github.com/EmilStenstrom/django-components/commit/475bc8720f8efa98012e45c663cb3db5d5816bbc), to make sure we don't accidentally break this case again.

[2021-02-20 09:05] #26 closed

[2021-02-20 09:10] EmilStenstrom opened #29 "Only load dependencies when component is in use"
Adding an issue here to track this, as this is something I think is something we really need. Ping @rbeard0330.

[2021-02-20 09:51] danjac opened #30 "Access to "request" and other global context variables"
Does django-components have a way to access context or do you have to pass in "request" manually?

Django template tag decorators have a "takes_context" argument that does this, so I was wondering if this is something that could be supported.

[2021-02-20 09:53] danjac opened #31 "Class decorator for registering components"
So with Django admin I can do this:
[code]
It would be nice to have similar functionality for django-components:
[code]

[2021-02-20 10:07] danjac opened #32 "Doc fix: "component_block" missing "name" parameter"
In the example:

[code]

shouldn't this be `component_block "calendar" `?

[2021-02-20 10:24] danjac opened #33 "slot.super?"
Suppose I have a component with a slot:

[code]
There doesn't appear to be a way to do something like {{ block.super }} i.e.

[code]

[2021-02-20 10:35] danjac opened #34 "Nested slots don't work"
Example:

[code]

I use the component thus:

[code]
The content of the form_buttons is not overridden, i.e. it's empty. Only the outer content of form_footer is rendered:

[code]

[2021-02-20 15:27] EmilStenstrom commented on #34
Ah, makes sense that nested slots, just like nested blocks, should work.

Internally the slots are handled as a list, so supporting this would mean handling them as a tree instead. Not trivial, but doable I think.

Mind giving it a try?

[2021-02-20 16:59] danjac commented on #34
I'm not very familiar with the underlying template tag code, but naively could you run the same code as `do_component_block() `inside the slot tag: so each slot just renders its own list of slots?

[2021-02-20 22:53] #32 closed

[2021-02-20 22:54] EmilStenstrom commented on #32
Thank you!

[2021-02-20 23:00] EmilStenstrom commented on #30
Yes! This is something that @rbeard0330 fixed recently! By default all context is inherited and can be used inside components and slots. There's even a short section about how it works in the docs: https://github.com/EmilStenstrom/django-components#component-context

Do tell if there's something that doesn't work as you expect!

[2021-02-20 23:01] EmilStenstrom commented on #33
Great suggestion, I'm 👍 for adding this.

[2021-02-20 23:03] EmilStenstrom commented on #31
Agreed, would be a nice addition 👍

[2021-02-21 00:04] danjac commented on #30
Excellent! Thanks.

[2021-02-21 00:04] #30 closed

[2021-02-21 15:14] rbeard0330 commented on #29
I'll get this up for you to look at sometime today!

[2021-02-21 15:16] EmilStenstrom commented on #29
Awesome! Feel free to put up more issues if there are things you think we should build sometime :)

[2021-02-21 15:30] rbeard0330 commented on #31
I wrote this for myself as a convenience (I think it's a one-liner), but I actually think the better API is to auto register each subclass of component. In the admin case, you often don't want to register a model with the admin, so it makes sense to have users opt-in. An unregistered component doesn't do anything, so making the user register it at all is boilerplate that it would be best to elimin

[2021-02-21 16:27] rbeard0330 commented on #33
An inelegant, but easy, way to support this would be to make a variant of the slot tag that doesn't have a body and just adds the default content. On its own, this wouldn't do anything, but you can use the same slot name multiple times, so you could build up a final slot that looks the way you want through a combination of "real" slot tags and the new default slot tag.

[2021-02-21 17:01] danjac commented on #31
The problem is that I might not want to auto-register each component subclass : I might have for example a base component class that isn't used itself but has multiple subclasses. You would need some way to exclude this superclass. You could add some "abstract" attribute (as with models) but this adds its own complexity and documentation requirements.

Registering a component is also a pretty well

[2021-02-21 20:21] EmilStenstrom commented on #31
Another case where having unregistered components would make sense, is if someone wrote a package with a set of pre-made components that you could import and use at will. You won't automatically want all components registered just because you enabled the package.

I do agree that auto-registering is what most people would want, most of the time. It's also one thing less for beginners to think abou

[2021-02-23 22:21] EmilStenstrom opened #36 "Add automatic code formatting with Black"
I would like to not have to consider coding style at all, and this is the problem that black solves. This feature would mean that we add black as a dev dependency, and add a github action that checks that the code is formatted before passing.

[2021-02-27 13:43] danjac commented on #36
Maybe add as pre-commit along with isort ?

[2021-02-27 13:58] danjac opened #37 "Slot is not executed in conditional {% if %} block"
I have this component template:

[code]

And in another template:
[code]
The text "show me!" is not rendered, just the slot default content. Overriden {% block %} content on the other hand is rendered inside a conditional.

[2021-02-27 14:00] danjac commented on #37
I wonder if this is related to https://github.com/EmilStenstrom/django-components/issues/34: the current implementation of slots as a simple list doesn't work in when the slots themselves are executed conditionally.

[2021-02-27 15:33] EmilStenstrom commented on #36
Yes! Flake8 too.

[2021-02-27 15:38] #31 closed

[2021-02-27 15:44] EmilStenstrom commented on #37
Interesting, you are a great tester for this project! :) I think we should do whatever block is doing, makes sense.

[2021-02-27 16:06] EmilStenstrom opened #39 "Bundle the CSS and JS for all components into one CSS file and one JS file."
Making two extra HTTP requests for each component on the page makes sense with few components. It will even be decently efficient when using HTTP/2 or later. But as the number of components grow it will stop to make sense. Therefor we should add some sort of bundling of all CSS-files used by components into one file, and all JS-files into another. Using any number of components should just require

[2021-02-27 19:37] danjac commented on #39
Personally I just use a single JS or CSS bundle anyway using webpack or esbuild - it seems like existing tools (either Django pipeline or JS/node-based tools) already do this very well. I tend use the Media options with forms or components only where a large JS/CSS include is required that I wouldn't want globally bundled by default - for example an OpenLayer or chart component.

[2021-02-27 20:02] EmilStenstrom commented on #39
@danjac This wouldn't be a replacement for the CSS/JS that you need for the rest of the site. More a request-local optimization, to avoid sending 50 external files if the current page users 25 components. Instead, you would send one component-bundle, that is specific to the components that this page needs.

In your OpenLayer example, that would mean your OpenLayer CSS would be bundled together wit

[2021-02-27 20:32] danjac commented on #39
Yes: makes more sense. It might be something you would want to configure/opt out of however in case people have their own build setup.

[2021-02-27 20:57] EmilStenstrom commented on #39
Are we not already disrupting their build setup by referencing files by direct path instead of going through staticfiles?

[2021-02-27 21:07] danjac commented on #39
Components media currently works same way as forms doesn't it? (Not sure as I don't use components with own JS/CSS).

[2021-02-27 21:55] EmilStenstrom commented on #39
They do, and I was very unsure of how they coexist with for instance staticfiles. Luckily, the docs say:

I've read up on some of the popular asset management libraries, and they all seem to support form media in some form or other. So I rest my case, this does not need to exist inside django-components.

I would like to add a section in the docs explaining how to do this with one of the more popu

[2021-03-02 22:07] EmilStenstrom commented on #33
@rbeard0330 I would like to stick as close to how `{% block %}` works as possible as this is what I think people expect, and therefore might make django-components easiest to learn. So I think supporting this use case would mean to add a dict to the context of each slot with the name `slot` and the content `{"super": "Default content for this slot"}`. That would mean `{{ slot.super }}` returns the

[2021-03-06 07:36] davidfstr opened #40 "Allow rendering JS / CSS parts of {% component_dependencies %} separately?"
First, thank you for creating this library. It looks very promising for providing some structure to components rendered on a page!

I am considering what it would take to migrate my own Django app at work to use django-components in the future, and I notice only one notable issue:

The `{% component_dependencies %}` tag which injects `<script>`-includes and `<link rel="stylesheet">`-includes appea

[2021-03-06 09:28] EmilStenstrom commented on #40
Hi @davidfstr,

This actually is already possible, just badly documented. The split versions are better for several reasons, so I've simply [changed the readme to recommend those versions](https://github.com/EmilStenstrom/django-components/commit/b30506087c278fd6c3451513bfef04d813b407ce) instead. The names are `component_[css/js]_dependencies` which are a bit long, but I'll keep them to keep the l

[2021-03-06 09:28] #40 closed

[2021-03-07 07:45] EmilStenstrom opened #41 "Future: Push component updates from server to client"
This might be something for a separate library, or it could be something we include here, but I'm leaving it here as I think it's an exciting way forward for django-components.

I would like to see a way to push component updates from the server to the client. Some idea how this could work:

1. After the first render is complete we add a new js-file in the component_js_dependencies area
2. That JS

[2021-03-07 07:53] EmilStenstrom commented on #41
ASGI support require (kinda) Django 3.0, so maybe this feature should be 3.0 only?

[2021-03-07 08:23] EmilStenstrom commented on #41
Step 4 needs DOM diffing, and I think we should go with morphdom which Phoenix LiveView uses. This means we can send the full HTML to the client over the wire (but we can optimize this later), and have morphdom diff the sent HTML with the current HTML and construct the minimal DOM operations needed.

[2021-03-07 21:35] EmilStenstrom commented on #41
_Ideas how this would look in the README. Note: Not working code, just an idea to try to figure out the syntax._

### Push component updates from the server to all connected clients

Django-components adds the option to push updates from the server to all connected clients. This makes it possible to build interactive widgets, without writing any JavaScript at all, the library handles all communica

[2021-03-07 21:52] EmilStenstrom opened #42 "Allow Media.css property to be a list"
Looking at the README I really don't like how asymmetrical the `css` and `js` properties are:

[code]

To make components easier, I think **we should allow those properties to be either just strings or lists**, and that we will convert them to the format that MediaDefiningClass needs.

This could be contributed to Django directly, but let's start here.

[2021-03-10 21:46] EmilStenstrom commented on #42
Fixed in https://github.com/EmilStenstrom/django-components/commit/b8f14404aca40bfe9d18f7e5970760104e7215f2

[2021-03-10 21:46] #42 closed

[2021-03-11 02:36] adamghill commented on #41
`django-components` is new to me (I just saw it at https://forum.djangoproject.com/t/django-components-create-simple-reusable-template-components/6924 today), but I really like the idea!

I have a few thoughts about this particular feature since I've been working on https://www.django-unicorn.com/ which aims to solve the reactive portion, but uses plain old AJAX for the functionality. It still mig

[2021-03-11 08:30] EmilStenstrom commented on #41
@adamghill Thank you for bringing my attention to django-unicorn! Really looks polished, with lots of documentation and a community around it. Well done! Also: Thanks for linking here from the docs.

My goal with this issue is to enable this for an existing site with as few changes to the code as possible. I'm thinking highjacking links and make them go over websocket instead. We'll see if I can g

[2021-03-12 20:28] andrewtmendoza opened #47 "Question about component scope"
Hi, I was wondering whether a component's CSS and JavaScript are scoped just to that component's markup or if they get applied globally.

Thanks!

[2021-03-12 20:59] EmilStenstrom commented on #47
@andrewtmendoza CSS and JS are not processed by django-components at all. Therefore you need a unique class and anonymous function as I show in the readme.

[2021-03-12 21:01] #47 closed

[2021-03-19 15:36] jereze commented on #37
Hi,
I noticed the same behavior.

[2021-03-20 08:16] EmilStenstrom commented on #37
@jereze Would you mind helping out fixing it? A PR that adds a test that shows the error would be a great start for instance.

[2021-03-20 08:20] EmilStenstrom commented on #14
I think we should add a benchmark test in the form of a python script that renders a complex template 1000 times, first with include and then with component, and compares the results. If anyone is able to contribute such a script I'd gladly merge it.

[2021-03-20 19:58] rbeard0330 commented on #37
I think this is right.  The current implementation looks at the components nodelist, identifies any slot nodes *in that nodelist*, then replaces them with either the provided content or the default content.  In both of these issues, the problem is that there is a slot nested within some other node (either an `IfNode` or another slot).  If that happens, then the `SlotNode` isn't removed when the te

[2021-03-24 21:52] EmilStenstrom commented on #29
Closed by #52 (which was a copy of #35)

[2021-03-24 21:52] #29 closed

[2021-05-14 19:07] mands opened #63 "Lots of print output in 0.11"
Hi,

Thanks for the useful library! I've recently upgraded to 0.11 and have noticed a lot of print output in my console from the djagno server when viewing pages that have components on them, as shown below - reverting to 0.10 appears to fix the issue.

[code]

[2021-05-14 20:48] EmilStenstrom commented on #63
@mands The problem was that I has local changes to my repo when I built the 0.11 release, and those changes propagated to the release, not the latest master. **It's now fixed, as version 0.12 is released**. I also yanked (removed) the 0.11 version as I don't want to fill people's logs with junk.

Thank you so much for reporting.

[2021-05-14 20:48] #63 closed

[2021-05-16 16:25] mands commented on #63
Great - that's for the quick turnaround!

[2021-05-25 22:55] #34 closed

[2021-05-25 22:55] #33 closed

[2021-05-25 22:56] #37 closed

[2021-05-28 12:31] mands opened #64 "Duplicate node / deepcopy bug in 0.13"
Hi,

Hitting some issues running 0.13 - our CI tests generate the following error - which recurses into a long set of `deepcopy` operations, failing eventually within the pickle `failure` at the bottom. I haven't dug into the code but think there may perhaps be a bug in the `duplicate_node` that is copying additional python objects that it shouldn't be.

[code]

[2021-05-28 15:04] EmilStenstrom commented on #64
@mands Could you help us reproduce this? Obviously we are missing a test for your use-case, but guessing what that test should be without more details is very hard :/

@Rbeard0330 You have any idea what this could be?

[2021-05-29 14:19] rbeard0330 commented on #64
@mands Three questions:
- Is it apparent what node is the first one being deep copied?
- Do you have any non-standard template nodes in the relevant component?
- Does this bug appear in your local tests?

It does indeed look like we're trying to deep copy something that isn't copiable (or isn't copiable between threads or processes maybe?). The code needs to make shallow copies of all of the nodes

[2021-05-30 16:46] #64 closed

[2021-05-30 16:49] EmilStenstrom commented on #64
@mands Please test 0.14 to see if it fixes the problem.

[2021-06-01 11:25] mands commented on #64
Hi @EmilStenstrom and @rbeard0330 - sorry was afk over the weekend.

We have quite a lot of components, most are simple but some of them pass the Django/DRF `Request` object across as context - I think these were the ones that were failing.

Have just tried with 0.14 but we hit a similar but different issue,

[code]

However can confirm that dropping back to 0.12 fixes things.

[2021-06-01 14:17] rbeard0330 commented on #64
Thanks for the report @mands, even if it's a discouraging one?  I don't see anything in the trace back that points to a line in this library... Is there more that you left off that would give us a place to start looking?  If not, is it possible for you to use a debugger to figure out what the infinite recursion is doing?  Many thanks!

[2021-06-04 14:02] mands commented on #64
@rbeard0330 @EmilStenstrom Thanks for the reply and apologies for the delay.

I believe I have a reproducible example, the issue seems to be when a component has nested another component that has a slot with the same name.

So for instance, in our code we have a component as follows, which has an (unused in this case) slot called `body`.

[code]

When called from the following fragment, it include

[2021-06-04 15:20] rbeard0330 commented on #64
Thank you, this is extremely helpful!  I'll dig into this this afternoon and see what's causing this behavior.

[2021-06-08 19:28] EmilStenstrom opened #68 "Same slot node name in nested component results in infinite recursion"
From @mands in a separate thread, breaking out to a new one since that bug was solved:

I believe I have a reproducible example, the issue seems to be when a component has nested another component that has a slot with the same name.

So for instance, in our code we have a component as follows, which has an (unused in this case) slot called `body`.

[code]

When called from the following fragment,

[2021-06-08 19:28] EmilStenstrom commented on #64
I moved this new problem to a separate thread, lets continue troubleshooting there.

[2021-06-09 18:42] EmilStenstrom opened #69 "Automate releases to PyPI with GitHub Actions"
In an attempt to make this project less dependent on me I'd like to automate releases to PyPI. I think a good way to do this is to move the PyPI account from my personal to a new one, put the secrets for the new one as GitHub environment variables, and make a GitHub Action that uses them to push new releases to PyPI. That way, everyone with GitHub access to django-components will also be able to m

[2021-06-16 22:48] EmilStenstrom opened #71 "Documentation: middleware.ComponentDependencyMiddleware not documented"
"You need to add 'django_components.middleware.ComponentDependencyMiddleware' to your MIDDLEWARE section too, that's the thing that makes smarter choices of where to import CSS and JS.

_Originally posted by @EmilStenstrom in https://github.com/EmilStenstrom/django-components/discussions/70#discussioncomment-880635_

[2021-06-27 22:53] #68 closed

[2021-08-08 05:45] oaltun opened #80 "Make django-components look for templates in a specific place"
Hi,

I just followed the documentation and installed the project.

I am trying to make the calendar component example work in an app called `tmp`. This is a cookiecutterdjangoproject, so apps are in a folder called `mysite`.

I am getting TemplateDoesNotExist error. Reason: my template is in `C:\Users\...\projectroot\mysite\tmp\components\calendar`, but django is searching `C:\Users\...\projectroo

[2021-08-08 07:31] EmilStenstrom commented on #80
Hi! What happens if you add the calendars directory to the DIRS setting? Does that solve the TemplateDoesNotExist error?

[2021-08-08 13:32] oaltun commented on #80
It did work with the following arrangement.

files:
tmp/components.py
tmp/components/calendar/static/calendar/script.js
tmp/components/calendar/static/calendar/style.css
tmp/components/calendar/templates/calendar.html

components.py

[code]

templates setting:

[code]

stitic files dirs setting:
[code]

I guess somebody needs to write a template loader and a static files finder for django to autom

[2021-08-08 13:40] oaltun opened #81 "jquery problem"
Hi,

I am opening a new issue as this seems to be different:

I am still trying to make the calendar example work. templates are found, css works, and js file is loaded. But I get following error in the console:

`script.js:2 Uncaught ReferenceError: $ is not defined`

Search engine results suggest that this happens when jquery is not loaded yet but called.

My guess is the reason is I am using th

[2021-08-08 16:32] EmilStenstrom commented on #81
Good catch! The HTML to render the script tag can be overriden by specifying a `render_js_dependencies()` on the Component subclass. You can see the default implementation here: https://github.com/EmilStenstrom/django-components/blob/70fcc162614ee7e7779642ad11dbc12e0d007158/django_components/component.py#L66

Maybe calling super() and `.replace("<script", "<script defer")` could work for you?

[2021-08-08 16:34] EmilStenstrom commented on #80
Thanks for posting the solution!

No matter what, you somehow need to specify the path to your templates. Are you suggesting we should come up with a default location for components, and make a loader that automatically loads templates from there?

[2021-08-09 10:26] oaltun commented on #80
Right, default locations like <app_name>/components/<component_name>/templates for templates and <app_name>/components/<component_name>/static for static files would be nice I think.

[2021-08-20 09:42] Real-Gecko commented on #80
I've encountered the same issue. I'm trying to add component to app named `common`. Here's how `common/components.py` looks like:
[code]
I get `TemplateDoesNotExist` unless template itself is not in `<BASE_DIR>/common/templates/common/components/permission_button/permission_button.html`

[2021-08-20 09:48] Real-Gecko opened #83 "Complex arguments for component tag"
Is there a way to pass complex arguments to component?
Here's my component `permission_button.html`
[code]
This one does not work:
[code]
So I have to do something like this, which is not that great IMO:
[code]

[2021-08-28 08:02] Real-Gecko commented on #80
Never done this before, will investigate Django documentation on custom template loaders.

[2021-08-28 16:38] Real-Gecko commented on #80
It turned out to be pretty easy, check #85 for details.

[2021-08-30 11:34] hanifbirgani commented on #69
To use the action file, you need to set the the PyPI access token as an environment secret with `PYPI_API_TOKEN` key in Github settings. The action publishes new releases for every tagged branch of github repo.

[2021-08-30 20:45] EmilStenstrom commented on #69
Wow, this is great! Just what I was looking for!

Do you know if there are any security considerations I should be aware of when enabling this?

[2021-08-31 11:05] hanifbirgani commented on #69
As long as you store your token as an environment secret, it's ok.
The action automatically publishes tagged commits to PyPI, so you should be careful when creating new tags, cause the tags will create new releases on PyPI.

[2021-08-31 17:02] EmilStenstrom commented on #69
Thanks! I also see that it only depends on official github and pypa plugins too. Really appreciate this!

[2021-08-31 17:03] #69 closed

[2021-08-31 19:45] EmilStenstrom commented on #36
I think so. I don't think the first version is that important, we can iterate later.

Is it possible to run black, isort etc in "check mode" on the repo side? I'd like to ensure that all commits follow a set standard, and I think that pre-commit requires that developers have installed a specific hook before commiting? Seems easy to miss unless this is enforced before commit is allowed.

[2021-08-31 20:32] hanifbirgani commented on #36
Pre-commit hooks could run before any commit on developer-side: https://pre-commit.com/#3-install-the-git-hook-scripts

So a flake8 GitHub action would be enough in my opinion.

[2021-08-31 21:19] EmilStenstrom commented on #36
The scenario I'm thinking about is that some new developer comes along that wants to help with developing django-component. This developer does not know the setup that's needed. They may not install the pre-commit hooks locally at all, or might even edit files using the GitHub interface. Am I wrong that no developer hooks would be run in that case?

[2021-08-31 21:22] EmilStenstrom commented on #36
Perhaps we should use https://pre-commit.ci/ which seems to also fix things when developers miss to run tools directly in the PR?

[2021-09-01 14:26] hanifbirgani commented on #36
Based on my research, Github doesn't allow changing forked pull requests' code, so the action we need here should be applied to the main branch after merging PRs. I work on the action and I will post the progress here.

[2021-09-01 20:43] EmilStenstrom commented on #36
Isn't changing the code on a forked PR just what pre-commit.ci does? It seems to show up on all PR:s posted to a repo, run the tools you tell it to, and if they generate diffs apply those diffs in a new commit.

[2021-09-02 12:03] hanifbirgani commented on #36
My previous comment is about Github action limitations. I think pre-commit.ci works as a bot with access to edit forked PRs. 🤔

I will add pre-commit configurations to the repo as new PR.

[2021-09-03 14:53] hanifbirgani commented on #36
@EmilStenstrom
Would you mind merging #90 and signing in to pre-commit.ci with your Github account, then give it access to this repo to run pre-commit (isort, black, and flake8) config?

[2021-09-03 14:58] EmilStenstrom commented on #36
@hanifbirgani Thanks for the reminder. I've now done both of the things you requested!

[2021-09-03 15:22] hanifbirgani commented on #36
I guess [pre-commit.ci](https://pre-commit.ci) needs a new merge request on the master branch to make changes 🤔

[2021-09-06 07:17] #81 closed

[2021-09-08 11:31] EmilStenstrom commented on #36
@hanifbirgani What does that mean, that someone puts up a new PR?

[2021-09-08 15:30] hanifbirgani commented on #36
@EmilStenstrom
I thought we could make a new PR to put [pre-commit.ci](https://pre-commit.ci) service on a test run.

[2021-09-08 21:13] EmilStenstrom commented on #36
Yes, go ahead! Feel free to experiment all you want to get this working.

[2021-09-09 20:09] EmilStenstrom commented on #41
I've decided that this should not be in this library, but a separate library. I'm closing this for now.

[2021-09-09 20:09] #41 closed

[2021-09-09 20:10] EmilStenstrom commented on #71
@rbeard0330 Do you think you could have a stab at this one?

[2021-09-10 11:39] EmilStenstrom opened #92 "Automatically look for CSS and JS files in component directory"
In the default example in the README this Media definition is used:

[code]

I would like to simplify this to this:

[code]

... so that it matches the name template_name paths. CSS and JS should still be loaded from the same directory.

[2021-09-10 11:39] EmilStenstrom commented on #80
Thanks to hard work of @Real-Gecko (THANKS!) this is no released as part of 0.17.

[2021-09-10 11:40] #80 closed

[2021-09-10 14:13] rbeard0330 commented on #71
Will do.

[2021-09-11 19:09] hanifbirgani commented on #92
IMO the media defining flow could be more simplified. I suggest that the media handler should never look outside of the component directory. The handler could run 3 condition checks to include media files as follow (assume we have a component named `my-component`):

1. if there are no `Media` in component attrs (default behavior) → system doesn't look for anything.
2. else (there is a `Media` in c

[2021-09-12 21:20] EmilStenstrom commented on #92
I think I agree with you here, that things can be simplified quite a bit.

I'm a little weary of the autoload feature, because then as a reading of someone else's component code, you have to know what autoload does. When two paths are specified like they are today, that indirectly explains when the component does: Brings together python code with html, CSS, and JS. Also, when searching a whole Dja

[2021-09-12 21:22] EmilStenstrom commented on #36
This is now added thanks to @hanifbirgani! Black, isort, flake8 are all enforced via a pre-commit hook, and also via pre-commit.ci which will autofix PR:s which did not install the pre-hooks.

[2021-09-12 21:22] #36 closed

[2021-09-15 12:50] hanifbirgani commented on #39
I've found this package, and I think it might solve the problem within the django itself without using other bundler tools: https://django-compressor.readthedocs.io/en/latest/usage

[2021-09-15 18:26] EmilStenstrom commented on #39
Yes, that's a good example, there are many! https://djangopackages.org/grids/g/asset-managers/

This issue is really about testing and documenting how django-components can be used with one or two of them.

[2021-09-30 02:12] philipstarkey opened #97 "{% block %} does not work inside a slot"
I'm really enjoying using this library but I'm running into an issue when I come to factor out common component hierarchies and I'm not sure if I'm doing something wrong, if it's not supported, or a bug.

I'm commonly placing the following (simplified a bit for this example) hierarchy of components in several of my templates:

[code]

Normally (without using django-components) I'd factor out the H

[2021-09-30 11:35] EmilStenstrom commented on #97
@rbeard0330 I think you might know the best way forward here. Is it possible to support mixing blocks with slots like Philip assumed above?

[2021-10-01 13:36] rbeard0330 commented on #97
@philipstarkey, just to make sure I understand your first approach, do you have the whole component tree in the root parent template, with a `{% block sections %}` tag where the `` placeholder is?  I don't think there's a good reason that shouldn't work.  That said, Django's template inheritance system is very complicated, so I won't be very surprised if we're screwing up the context in some way t

[2021-10-04 16:30] alexanderjulmer opened #98 "Check if slot is not empty"
Some components might have optional slots, e.g.:

[code]

If implemented as above, the the subtitle div would always be rendered. It could be useful to check whether a slot, here `subtitle` is non empty and then modify the template like so:

[code]

When rendering, `_DJANGO_COMPONENTS_ACTIVE_SLOTS` is available but it cannot be used inside the template (see https://docs.djangoproject.com/en/dev/re

[2021-10-04 20:43] EmilStenstrom commented on #98
@alexanderjulmer That is a great idea. Something that is surely[ missing in block tags too](https://stackoverflow.com/questions/2035385/test-for-existence-of-template-block-in-a-template).

Would you be open to writing up a PR for adding support like you suggest?

[2021-10-05 02:39] philipstarkey commented on #97
@EmilStenstrom @rbeard0330 Thanks for both of your replies. I'll see if I can put together a minimal Django project that demonstrates the issue shortly.

My actual template structure is a little more complicated than your examples, in that I have a template (top) extending a template (middle), which in turn extends another template (base). The base template contains a `{% block content %}` which i

[2021-10-05 05:55] philipstarkey commented on #97
Ok, I've put together (a probably over the top) example project derived from cookiecutter-django.

Relevant files (since it has a giant amount of boilerplate) are:

Component:
- https://github.com/philipstarkey/django_components_issue97/blob/master/django_components_issue97/users/components.py
- https://github.com/philipstarkey/django_components_issue97/blob/master/django_components_issue97/templa

[2021-10-05 06:04] philipstarkey commented on #97
And while I'm thinking about this issue, could this be resolved by either an additional argument to `{% slot ... %}` that states the nested slot belongs to the component the template is for, or assuming that a `{% slot %}` inside a `{% slot %}` means the inner slot belongs to the component the template is for, or using a different template tag name to differentiate between "here is the content for

[2021-10-10 10:37] EmilStenstrom commented on #92
@hanifbirgani Would you be open to working at this? :)

[2021-10-14 16:26] rbeard0330 commented on #97
@philipstarkey I've been working on something along these lines, which I think will be the best solution.  I've added an optional `exported_as` argument to the slot tag, which causes the parent component to look for a slot under the exported-as name and pass it to the relevant child component under its regular name.  I think this should solve your use case--in your original example, you could expo

[2021-10-15 06:45] EmilStenstrom commented on #92
Great points. I agree about encouraging encapsulation and not referencing files outside of the component directory.

Let's try another angle. What about encouraging people to split their CSS and JS files into multiple files? This is supported today by just saying class Media: css = ["file1.css", "file2.css"]. If the default is to have no Media class there is a lot of work to add another file.

Ano

[2021-10-16 19:38] rbeard0330 commented on #97
I would actually put it a bit more strongly--that code unambiguously renders the `card` component with an empty `contents` slot.

[2021-10-16 21:38] EmilStenstrom commented on #97
In my mind, this gets easier to talk to if we imagine creating slots and filling slots as two different actions.

So your example becomes `{% fill contents %}{% slot body %}{% endslot %}{% endfill %}`, and the version with default contents `{% fill contents %}{% slot body %}Default content for header_card{% endslot %}{% endfill %}`. Am I understanding this correctly?

Which leaves us with these op

[2021-11-02 22:54] EmilStenstrom commented on #97
Sorry for the late reply! Thanks for trying to explain to me what the code does. I am a bit lost, and don't have the time to sit down and really understand things properly. So feel free to run with it, I trust that you find the best solution.

I wonder, would it make things easier if we require Components with slots to define the names of those slots in the class?

[2021-11-03 09:58] hanifbirgani commented on #92
I like the idea of a minimal boilerplate, and I agree 👍

[2021-11-22 17:16] simkimsia opened #114 "[Question] can the asset files (css, js) for the components work with webpack to bundle everything?"
I am thinking of using this with something like https://github.com/AccordBox/python-webpack-boilerplate

[2021-11-22 17:19] simkimsia opened #115 "[Question] has anyone tried to use this inside pattern-library?"
I found https://torchbox.github.io/django-pattern-library/ which is a way to show the various components in a pattern library way.

Has anyone tried to use `django-components` within the pattern-library?

[2021-11-22 21:29] EmilStenstrom commented on #114
I haven’t tried using this together with webpack. How come you need webpack at all? Typescript?

[2021-11-22 21:29] EmilStenstrom commented on #115
Didn’t try this either. Please do and report back.

[2021-11-23 02:15] simkimsia commented on #114
Yes I'm thinking of moving to typescript permanently

[2021-11-23 02:18] simkimsia commented on #115
Ok I think I will

[2021-12-18 17:45] EmilStenstrom commented on #97
@rbeard0330 Did you happen to have some time to think more of this? I think nesting components with slots would be a very useful addition to this library.

[2021-12-18 17:45] #115 closed

[2021-12-18 17:46] #114 closed

[2021-12-18 17:46] EmilStenstrom commented on #92
@hanifbirgani Did you have any time to think more about this?

[2021-12-22 16:43] hanifbirgani commented on #92
_Deadlines have hammered me in the past months!_

I suppose our core code works well with the proposed file structure, so we need to make the boilerplate and the management command, right?

[2021-12-23 22:35] EmilStenstrom commented on #92
Fully understand.

Yes, that’s what I think we need to do.
1) add a default directory for components, and figure out backwards compatibility.
2) add a CLI command to generate it

[2021-12-24 08:08] hanifbirgani commented on #92
The system-wide components directory could be `components`, like what we already have in the Django `templates`, and I guess it doesn't break the compatibility.

[2021-12-25 19:49] EmilStenstrom commented on #92
Yes, I was thinking about automatically looking in a subdirectory with the same name as the component you registered when resolving the paths to component CSS and JS. So instead of writing "calendar/calendar.css", you could just do "calendar.css" and automatically get the same result. I think it would be a nice way to enforce putting each component in a separate directory like you suggested in the

[2022-01-24 21:49] EmilStenstrom commented on #98
Also ping @hanifbirgani for thoughts. Is changing the syntax worth it for more readable nested slots?

[2022-02-05 12:30] EmilStenstrom opened #133 "Use new `{% slot %}` and `{% fill %}` tags to enable nested components"
Nested components does not work today, and I think this might be a common case for people using components in bigger projects.

When nesting components, you quickly run into the problem with not knowing if a `slot` tag refers to you defining a new slot, or if you're filling in an existing slot. This could be solved by introducing attributes that toggle if a slot should behave one way or the other,

[2022-02-05 12:39] EmilStenstrom opened #134 "Make `{% component %}` play well with `{% block %}`"
It seems to me that `{% block %}` tags should be executed first, and only after blocks are filled should components parse and fill their slots. This would enable use-cases as:

[code]

As well as:

[code]

Currently only the first example works, and not the second one, because slots gets executed before blocks.

I'm not sure if there's an easy way to solve this, but I think we should examine if th

[2022-02-05 12:41] EmilStenstrom commented on #97
I have split this issue into two different issues, #133 and #134, let's continue the discussion there.

[2022-02-05 12:41] #97 closed

[2022-04-27 15:51] David-Guillot opened #143 "Ability to choose which components JS/CSS to load"
Hi there,

We have a page that initially doesn't render any component, but is able to insert into its DOM some HTML fragments (through htmx or hotwired or stuff like that), which themselves may carry some components.

With current `django-components` capabilities, we have two options when calling `{% component_js_dependencies %}` :
* If the `ComponentDependencyMiddleware` is disabled, JS from all

[2022-04-27 19:12] EmilStenstrom commented on #143
Hi @David-Guillot!

Your use-case makes a lot of sense for sites with dynamic content. I'm open to adding options for component_(js/css)_dependencies like you suggest. Do you have a suggestion of what the syntax should be?

I think using the keyword "preload" to signify that you are forcing some dependencies to be rendered, but others might be loaded as per the normal rules.

Maybe: `{% component_

[2022-04-27 20:54] David-Guillot commented on #143
Thank you for your quick answer :smile:  .

I hadn't thought of a parameter name ; my first instinct would be `force` instead of `preload` because I prefer naming things after what they do rather than what we want to use them for. But that's up to you :wink: . I'll work on a PR tomorrow!

[2022-04-27 21:08] EmilStenstrom commented on #143
I think I prefer preload because it's closing to what it's doing relative to what the ComponentDependencyMiddleware is doing. The middleware loads components when they are used, but the use case here is "render components even though they are not used yet, because they will be used soon". To me, that's just preload, the same way preloading a stylesheet with a `<link rel="preload">` tag does.

Look

[2022-04-27 21:13] David-Guillot commented on #143
Okay, thanks for your input :+1:

[2022-05-31 20:29] #143 closed

[2022-07-11 19:13] JMorell opened #151 "I can't load javascript and css"
Hi, I am trying to configure the components.py and I have tried everything in the Media class, but I can't get the css and js to load.

My app path is like this: apps/app_name/components.py

I have tried many combinations but none have worked.

[2022-07-12 01:37] housUnus opened #152 "Use component name as variable"
I'm trying to use a conditional component based on the parent parameters, I'm calling the component not by its name but with a variable containing its name, which is very helpful in many cases.

The problem is that your "component" tag is treating the component name parameter as a string, so when I use a variable name  like this:
`{% component_block variable_name %}`
 I get an error saying:
`djang

[2022-07-12 12:26] EmilStenstrom commented on #152
@housUnus This sounds like something this library should support, good suggestion! Can you write up a PR to add that support?

[2022-07-12 12:29] EmilStenstrom commented on #151
Hi!

Unfortunately there is not enough information in you question to tell you where things have gone wrong. The recommended location is '[your app]/components/calendar/calendar.css' and '[your app]/components/calendar/calendar.js', and that you point to those locations in your Media class. Does this not work?

[2022-07-12 16:13] JMorell commented on #151
I added this on components.py:
class Media:
        css = 'apps/portal/components/subscription-services/style.css'
        js = 'apps/portal/components/subscription-services/script.js'

[2022-07-12 19:27] David-Guillot commented on #151
Hi there,

Where are your JS/CSS files located when you run `collectstatic`? This `apps` prefix makes me think Django will have a hard time finding them...

[2022-07-13 13:15] housUnus commented on #152
Hi, I've added a pull request containing the necessary modifications in order to support the feature, I'm ready to discuss these modifications.

[2022-07-14 12:19] #152 closed

[2022-07-19 02:50] simkimsia commented on #71
I dont want to cut in on what @rbeard0330 is doing but if someone can do a quick loom and show me I dont mind taking a stab at the documentation

I would like to be a user of this feature

[2022-07-19 07:56] EmilStenstrom commented on #71
@simkimsia I'm trying to remember here, was a couple of years since I played with this. I think you might just add this to your settings.py:

[code]

... and things magically work?

[2022-07-23 06:31] simkimsia opened #163 "because {% component_js_dependencies %} loads all the components, so best to check to prevent null elements"
since all the components JS are loaded via ` {% component_js_dependencies %} `

we need to make sure that the element selected in the js scripts actually exist in the page, esp if conditional loading is not used.

so instead of

[code]

it should be

[code]

[2022-07-23 06:56] simkimsia commented on #71
i did and i got this error

[code]

I suspect need to change the `__init__.py`?

I am using 0.22 django-components by the way.

[2022-07-23 06:59] simkimsia commented on #92
Isn't this solved by the latest v0.21 changes and also by what i raised in the discussion? https://github.com/EmilStenstrom/django-components/discussions/160

[2022-07-26 18:12] EmilStenstrom commented on #92
@simkimsia Almost! The only thing missing now is a management command that generates the structure from the README! Will simplify setup even more.

[2022-07-26 18:13] #163 closed

[2022-07-26 18:57] EmilStenstrom commented on #71
Note the last part of the error message: "ComponentDependencyMiddleware**django**". This means you forgot the comma after your middleware line, so it concatenated that string with the previous one. Try again, with a comma!

[2022-08-12 12:35] alem88 opened #173 "Passing variable from view function to component_block part"
Take a look at this for example
{% component_block "calendar" date="2020-06-06" %}
I would like to put a variable instead of "2020-06-06" through my view function. Is that possible and if it is, how? I tried something like date={{var_name}}, but it failed.

[2022-08-12 12:56] alem88 commented on #173
I just figured out...  date=var_name
Thank you for this library

[2022-08-13 17:02] EmilStenstrom commented on #173
Happy you solved it!

[2022-08-13 17:02] #173 closed

[2022-10-10 23:49] jej opened #180 "Tailwind CSS + daisyUI + django-components"
I would love to see these 3 working together!

I haven't looked too much here but I guess it's possible without much effort.

Thanks for this app.

https://tailwindcss.com
https://daisyui.com

[2022-10-11 05:49] David-Guillot commented on #180
I guess that would be named... Djaisy 😎

More seriously, I think it's a great idea, but to be implemented as a distinct library, in order to keep django-components lightweight.

[2022-10-11 15:42] jej commented on #180
Not missing it! That's why I said "I guess it's possible without much effort" :)

[2022-10-11 19:17] EmilStenstrom commented on #180
Oh, so this issue is that you would like to see an example of how they work together?

[2022-10-12 11:40] jej commented on #180
The issue was just a wish and an idea! I think there is a logic between these 3 tools. I don't know if I will use django-components. Maybe django templates are handy enough to produce tailwind/daisyui contents. But if you provide an example it's nice of course. Maybe other people could be interested too.

[2022-10-15 12:20] Youssefihab33 opened #182 "django-components not working when deployed to apache2 server"
I used django-components in development, working just fine, using the django development server.

Currently I am deploying the web application to my apache2 server, the rest of the app is working fine but when i open a page that should have a component, it raises the following error:
`
NotRegistered
The component "bgShowCard" is not registered
/home/Youssef/env/lib/python3.10/site-packages/django_

[2022-10-15 12:50] EmilStenstrom commented on #182
Hi. This isn't likely a problem with django-components, but with you having different settings in local and production. Very hard to guess which setting...

[2022-10-17 14:18] vb8448 opened #183 "Single file components"
Have you ever thought to implement a single file component, similar to vuejs ?

Eg.:
[code]

[2022-10-17 15:01] vb8448 commented on #183
Pycharm seems to support [language injections](https://www.jetbrains.com/help/pycharm/using-language-injections.html#inject_language) and I guess also vscode does. Probably a specific extension will be needed.

[2022-10-18 10:53] EmilStenstrom commented on #183
I did some reading on this, and found a couple of crazy solutions such as https://github.com/twidi/mixt/ which have solved this in a mix of crazy and fantastic. But there's really nothing good out there. Language injections works in pycharm, but not in vscode. This also bypasses Django's template loading system, which loses caching.

Overall, I think using strings like in your quick example would

[2022-10-24 19:10] housUnus opened #184 "Packing css & js components files into one file"
Many components imply many CSS & JS files which affect the loading speed of the page, it would be better if all CSS & JS files get packed into one single file (CSS FILE & JS FILE) which will make improve the loading speed;

[2022-10-24 19:17] EmilStenstrom commented on #184
This is something that you can use an asset manager to fix. There's an open issue to document how to use an asset manager together with Django here: https://github.com/EmilStenstrom/django-components/issues/39

[2022-10-24 19:17] #184 closed

[2022-11-02 18:58] aymericderbois opened #187 "Component.get_context_data : add *args and **kwargs to match the signature when overridden"
Hey,

For now the signature of the "get_context_data" method is the following:
[code]
It could be nice to change signature of Component.get_context_data to add *args and **kwargs like this :
[code]

What do you think about it ?

Aymeric,

[2022-11-02 19:48] EmilStenstrom commented on #187
Could you say a bit more about why your want that?

[2022-11-02 21:41] aymericderbois commented on #187
Yes, indeed I should have given a more complete explanation on this request.

If I take the example of the "calendar" component from the documentation :
[code]

- Pycharm will display the following warning: "method signature does not match signature of overridden method"
- Pylint will display the following warning: https://pylint.pycqa.org/en/latest/user_guide/messages/warning/arguments-differ.htm

[2022-11-02 23:49] aymericderbois commented on #183
I love the idea of having the template directly in a component variable. This is especially useful when you want to make small components!
Unfortunately for syntax highlighting, I think there is no solution. Even with Pycharm, the support of language injections is limited.

Nevertheless, as this is the kind of functionality I could use, I tried to make some tests and I made a quick development tha

[2022-11-04 19:40] EmilStenstrom commented on #183
Thanks for taking the time to show how it could look like.

I **really** don't like the developer ergonomics of having to write html, css, and js inside of python strings. If there was (when there is?) a way to enable syntax highlighting in some clever way, I would be OK with this change. But as it stands, I don't think we should encourage that kind of code, and instead only support having separat

[2022-11-05 18:27] housUnus opened #189 "Add keyword "optional" to slot to make it optional to fill"
The "Block" component of django doesn't throw error when the block is not called from the inheriting template, many times some slots might not be needed when component called, but if not mentioned will throw error, and that implies declaring it empty.

[2022-11-05 19:39] EmilStenstrom commented on #189
I kind of like to get errors when things do not behave as expected. What do you think about adding a way to make a slot optional, byt declaring it `{% slot optional %}...{% endslot %}`? The optional keyword would surpress the error.

[2022-11-06 19:36] housUnus commented on #189
i think it would do the job.

[2022-11-06 22:04] EmilStenstrom commented on #189
Are you open to writing up a PR and tests for it?

[2022-11-08 21:55] TawalMc commented on #180
Awesome. Today I was thinking about using django-tailwind and daisy UI and tonight I read about the usage with django-component. I'm on the good path. I search about django-components after watching @David-Guillot  presentation on django-conf.

Good job. (Sorry I know we must talk about issues here, but I would just add this comment).

[2022-11-23 19:21] Snakeyyy opened #191 "runserver hot reload doesn't work on django 5 when component's python file is modified"
**Problem**
It seems that on django 3.2 (I haven't tested other versions) django development server is not reloaded when component's python file is modified.

On django 4.1 hot reloading works correctly.

Testid with `django-components==0.22`

**Steps to reproduce:**

1. clone django-components repository
2. modify `sampleproject/requirements.txt`: freeze django to version 3.2 `django==3.2`
3. ins

[2022-11-24 11:46] EmilStenstrom commented on #191
Great bug report, I had no idea. Agreed that this should be fixed. Especially since this affects the developer experience with components, something I find important to get right.

Would you be open to working on a fix for this? I guess it has something to do with having Django find the relevant files, and mark them so that the file watcher finds them?

[2022-11-25 17:56] Snakeyyy commented on #191
I've already spent a few hours investigating but unfortunately I couldn't find the solution.

My observations so far:

django.utils.autoreload sees the file change, it's visible from django logging (DEBUG level):

This is a log record from django 3.2:
[code]

compared to django 4.1 which results in a slightly different log record:
[code]

I'm worried that even if we identify e.g commit that fixes

[2022-11-25 20:27] EmilStenstrom commented on #191
Thanks for researching! Let me see if I can continue where you left off:

1. The template_changed event pointed me to this stackoverflow answer: https://stackoverflow.com/a/71618373/117268
2. This points to this Change in Django: https://code.djangoproject.com/ticket/32744
3. I think this comment sums it up well: https://code.djangoproject.com/ticket/32744#comment:6
4. And based on this I think we

[2022-11-27 19:52] TawalMc commented on #191
Hi. Just to add that I'm using Django 4.x in some projects and hot reload work perfectly but with the same versions hot reload doesn't work with django-components... I don't know if it's related to django-components... can I help ?

[2022-11-27 21:04] EmilStenstrom commented on #191
Tawal: Could you try setting you TEMPLATES DIRS setting to not be strings, and instead use Path(path).resolve() and see if it works in Django 3.2?

[2022-11-29 20:35] EmilStenstrom commented on #191
I don't understand how everything fits together yet, but it seems the cached template loader was changed to be on by default in django 4.1, and additionally was made to reload on template changes when debug was true. Reference: https://twitter.com/carltongibson/status/1588534399561510914